## Source: ansible/roles/gitlab_service/templates/gitlab.rb.j2
## To change settings, edit the template and re-run the deploy playbook;
## GitLab picks this up on its next `gitlab-ctl reconfigure` (container restart).

external_url 'http://{{ gitlab_service_external_host }}:{{ gitlab_service_web_port }}/'

gitlab_rails['env'] = {
  'GITLAB_LOG_LEVEL' => '{{ gitlab_service_log_level }}'
}

# Only takes effect on the very first reconfigure of a fresh instance (root
# username stays 'root' - GitLab has no setting to change its email).
{# gitlab_rails['initial_root_password'] = '{{ gitlab_service_root_password }}' #}

# GitLab listens on port 22 in the container; Quadlet publishes the configured
# host port and GitLab must use it when generating SSH clone URLs.
gitlab_rails['gitlab_shell_ssh_port'] = {{ gitlab_service_ssh_port }}

# Log rotation
logging['logrotate_frequency'] = 'daily'
logging['logrotate_rotate'] = 30
logging['logrotate_compress'] = 'compress'

# Container registry settings
{% if gitlab_service_registry_enabled | bool %}
registry_external_url 'http://{{ gitlab_service_external_host }}:{{ gitlab_service_registry_port }}'
gitlab_rails['registry_enabled'] = true
registry['enable'] = true
{% else %}
gitlab_rails['registry_enabled'] = false
registry['enable'] = false
{% endif %}
